name = "discord-link-archiver"
main = "src/worker.ts"
compatibility_date = "2023-08-14"

[vars]
ARCHIVE_CHANNELS = '["1111111111122222222", "3333333344444444444"]'
DISCORD_CLIENT_ID= "1140704569194729592"
DISCORD_CLIENT_PUB_KEY = "xyz1234xyz1234xyz1234xyz1234xyz1234"
R2_BASE_URL = "https://pub-X.r2.dev"

# Change Usage to 'bundled' if you cannot enable standard pricing for some reason (although the script works best with unbound)
# also change queue batch sizes below if you are using bundled
USAGE_MODEL = 'standard'

# See README for presigned URL usage and tradeoffs
WANT_PRESIGNED = false
# 5 minutes
PRESIGNED_EXPIRES = 300
PRESIGNED_BUCKET_NAME = ""
PRESIGNED_BUCKET_ACCOUNT_ID = ""

[triggers]
crons = [ "48 */2 * * *", "*/15 * * * *" ]

[[kv_namespaces]]
binding = "DiscordLinkStateKV"
id = "HERE"
preview_id = "only_needed_for_dev"

[[kv_namespaces]]
binding = "DiscordArchiveStateKV"
id = "HERE"
preview_id = "only_needed_for_dev"

[[r2_buckets]]
binding = "DISCORD_IMAGE_BUCKET"
bucket_name = "discord-image-bucket"
preview_name = "discord-image-bucket-dev"

[[queues.producers]]
binding = "DOWNLOAD_QUEUE"
queue = "discord-download-queue"

# decrease max_batch_size to 10 for bundled usage model
[[queues.consumers]]
queue = "discord-download-queue"
max_batch_size = 60
max_batch_timeout = 10
max_retries = 0

[[queues.producers]]
binding = "CHANNEL_QUEUE"
queue = "channel-list-queue"

# should leave at 1 for both unbound and bundled
[[queues.consumers]]
queue = "channel-list-queue"
max_batch_size = 1
max_batch_timeout = 1
max_retries = 0
